{{/* Get the username from the page block */}}
{{ $username := .content.username }}

{{/* Load the author data */}}
{{ $user := index site.Data.authors $username }}

{{/* Check if experience exists */}}
{{ if $user.experience }}
<section class="resume-experience">
  <h2>{{ .content.title }}</h2>
  {{ range $user.experience }}
    <div class="experience-item">
      <h3>{{ .organization }}</h3>
      {{ if .roles }}
        <ul>
        {{ range .roles }}
          <li>
            <strong>{{ .title }}</strong><br>
            {{ .description | markdownify }}
          </li>
        {{ end }}
        </ul>
      {{ end }}
    </div>
  {{ end }}
</section>
{{ end }}
