{{ define "main" }}
<section class="relative py-12 min-h-screen">

  <div class="container mx-auto px-4 relative z-10">

    <!-- Page Title -->
    {{ with .Title }}
      <h1 class="text-4xl md:text-5xl font-extrabold mb-12 text-center text-[#18453B]">{{ . }}</h1>
    {{ end }}

    <!-- Loop over subtopics -->
    {{ range .Params.subtopics }}
      <h2 class="text-3xl md:text-4xl font-bold mb-6 text-[#18453B]">{{ .title }}</h2>

      {{ $items := where site.RegularPages "Section" .folder }}

      <!-- Projects Grid -->
      {{ if eq .folder "project" }}
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-10">
          {{ range $items }}
            <div class="bg-white rounded-xl shadow-md p-4 hover:shadow-lg transition-shadow">
              {{ if .Params.image }}
                <img src="{{ .Params.image }}" alt="{{ .Title }}" class="w-full h-48 object-cover rounded-lg mb-4">
              {{ end }}
              <span class="block text-xl font-semibold text-[#18453B]">{{ .Title }}</span>
              <p class="text-gray-600 mt-2">{{ .Params.description }}</p>
              {{ if .Params.resources }}
                <div class="mt-2 space-x-2">
                  {{ range .Params.resources }}
                    <a href="{{ .url }}" target="_blank" class="text-[#18453B] hover:underline">{{ .name }}</a>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          {{ end }}
        </div>
      {{ else }}
      <!-- Papers list -->
        <div class="space-y-4 mb-10">
          {{ range $items }}
            <div class="bg-white p-4 rounded-xl shadow-md border-l-4 border-[#18453B]">
              <span class="block text-xl font-semibold text-[#18453B]">{{ .Title }}</span>
              <span class="text-gray-700">{{ .Params.date }} - {{ .Params.publication_short }}</span>
              {{ if .Params.links }}
                <div class="mt-1 space-x-2">
                  {{ range .Params.links }}
                    <a href="{{ .url | default (printf "https://arxiv.org/abs/%s" .id) }}" target="_blank" class="text-[#18453B] hover:underline">
                      {{ .name | default (title .type) }}
                    </a>
                  {{ end }}
                </div>
              {{ end }}
              {{ if .Params.summary }}
                <p class="text-gray-600 mt-2">{{ .Params.summary }}</p>
              {{ end }}
            </div>
          {{ end }}
        </div>
      {{ end }}

    {{ end }}
  </div>
</section>
{{ end }}

